{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container wrapper">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="/images/ns_mascotte.png" class="decoTitreShake"/>
            <h1>Création de votre compte Nation-Sounds</h1>
            <img src="/images/ns_mascotte.png" class="decoTitreShake"/>
        </div>

        {{ form(form)}}
            
{% endblock %}