{% extends 'base.html.twig' %}

{% block title %}Accueil - Nation Sounds Festival{% endblock %}

{% block body %}
        <main class="pages">

            Politique de Confidentialité

            Dernière mise à jour : 18/02/2025

            Votre confidentialité est importante pour nous. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations personnelles lorsque vous utilisez notre site.

            1. Données collectées

            Lorsque vous vous inscrivez sur notre site, nous collectons les informations suivantes :

            Nom et prénom

            Adresse e-mail

            2. Utilisation des données

            Nous utilisons ces informations pour :

            Gérer votre inscription et votre compte utilisateur

            Vous envoyer des communications importantes concernant le site

            Améliorer nos services et votre expérience utilisateur

            3. Partage des données

            Nous ne vendons ni ne louons vos informations personnelles à des tiers. Vos données peuvent être partagées uniquement dans les cas suivants :

            Si requis par la loi ou une autorité judiciaire

            Avec des prestataires de services qui nous aident à gérer le site, sous réserve de confidentialité

            4. Sécurité des données

            Nous mettons en place des mesures de sécurité adaptées pour protéger vos informations contre l’accès non autorisé, l’altération ou la divulgation.

            5. Vos droits

            Vous avez le droit de :

            Accéder à vos données personnelles

            Demander la modification ou la suppression de vos informations

            Retirer votre consentement à tout moment

            Pour exercer vos droits ou poser des questions, contactez-nous à : [Adresse e-mail de contact]

            6. Modifications de la politique

            Nous pouvons mettre à jour cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page avec la date de mise à jour.

            En vous inscrivant sur notre site, vous acceptez cette politique de confidentialité.

    </main>
{% endblock %}
        