{% extends 'base.html.twig' %}

{% block title %}Reseaux Sociaux - Nation Sounds Festival{% endblock %}

{% block body %}
    <main>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="../../media/doodle/megaphone.png" class="decoTitreShake"/>
            <h1 class="d-flex justify-content-center">Retrouvez Nation Sounds sur les réseaux!</h1>
            <img src="../../media/doodle/megaphone.png" class="decoTitreShake"/>
        </div>

        <div class="d-flex flex-md-row flex-column justify-content-center flex-md-wrap align-items-center">

            <div class="conteneurRS d-flex flex-row justify-content-center">
                <a href="https://www.instagram.com/nation.sounds/?igsh=a2d2b2I3dW9uZjhu&fbclid=IwZXh0bgNhZW0CMTAAAR3y5pYK6Cg2_0VBO4cy9XggerrgZ_s6BeJla5XfWEBmbbXepifQEpywTn8_aem
                _AcSWouWBcu_LGD_VYHyLp-qQNnYBx88SYwGWLLyA0dT5yVT4ZpPC5Yebv6pJH5hQ7OZmbObsUJx248cAKtFkuTYd" target="_blank" rel="noreferrer" class="d-flex flex-row align-items-center">
                    <img src="../../media/icon/instagram.svg" class="imgRS"/>
                    <p>@nation.sounds</p>
                </a>
            </div>

            <div class="conteneurRS d-flex flex-row">
                <a href="https://www.facebook.com/nationsoundsfestival/" target="_blank" rel="noreferrer" class="d-flex flex-row align-items-center">
                    <img src="../../media/icon/facebook.svg" class="imgRS"/>
                    <p>Nation Sounds Festival</p>
                </a>
            </div>

            <div class="conteneurRS d-flex flex-row">
                <a href="https://twitter.com/sounds_nation" target="_blank" rel="noreferrer" class="d-flex flex-row align-items-center">
                    <img src="../../media/icon/twitter-x.svg" class="imgRS"/>
                    <p>@sounds_nation</p>
                </a>
            </div>

            <div class="conteneurRS d-flex flex-row">
                <a href="https://www.linkedin.com/in/nationsoundsfestival/?originalSubdomain=fr" target="_blank" rel="noreferrer" class="d-flex flex-row align-items-center">
                    <img src="../../media/icon/linkedin.svg" class="imgRS"/>
                    <p>Nation Sounds Live-Event</p>
                </a>
            </div>

            <div class="conteneurRS d-flex flex-row">
                <a href="https://www.youtube.com/" target="_blank" rel="noreferrer" class="d-flex flex-row align-items-center">
                    <img src="../../media/icon/youtube (1).svg" class="imgRS"/>
                    <p>Nation Sounds Festival</p>
                </a>
            </div>

            <div class="conteneurRS d-flex flex-row">
                <a href="https://www.linkedin.com/in/nationsoundsfestival/?originalSubdomain=fr" target="_blank" rel="noreferrer" class="d-flex flex-row align-items-center">
                    <img src="../../media/icon/snapchat.svg" class="imgRS"/>
                    <p>@Nation Sounds Festival</p>
                </a>
            </div>
        </div>
    </main>
{% endblock %}

