.sceneConteneur {
    width: 480px;
    background-color: beige;
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1%;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}

.concertItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#8f505e;
    border-style: solid;
    border-color: #492E34;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: beige;
}

.concertItem>div>h3,.concertItem>div>p{
    color: beige;
    margin: 0;
}

.concertItem>img{
    border-radius: 50%;
    object-fit: cover;
    margin: 0 18px 0 8px;
    border: solid 2px beige;
}
